* {
  font-family: 'Oxygen', sans-serif;
}

a {
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.loader-container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.modal-content {
  opacity: 0.9;
}

.backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.shadow-custom {
  -webkit-box-shadow: 0px 2px 14px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 14px 4px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 14px 4px rgba(0,0,0,0.1);
}

.no-decorations {
  &:hover {
    text-decoration: none !important;
  }
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.x-small {
  font-size: 0.72rem;
}

.lottie-animation {
  position: relative;
  z-index: -1;
  max-width: 38rem;

  svg {
    max-height: 65rem;
  }
}

.lottie-animation-404 {
  position: relative;
  z-index: -1;

  max-width: 65rem;
}