* {
  font-family: 'Oxygen', sans-serif;
}

a {
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.loader-container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.modal-content {
  opacity: 0.9;
}

.backdrop {
  background: rgba(0, 0, 0, 0.6);
}