.main-input {
  border-color: $primary-border-color;

  &:focus {
    box-shadow: 0 0 0 0.2rem $primary-box-shadow-color;
  }
}

.optional-input {
  border-color: $secondary-border-color;

  &:focus {
    border-color: $secondary-border-color;
    box-shadow: 0 0 0 0.2rem $secondary-border-color;
  }
}

.heading-big {
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}

.btn-cut-it {
  max-height: 5.68rem;
}

.loader-row {
  .loader-div {
    margin-top: -5rem;

    @include media-breakpoint-up(sm) {
      max-width: 15rem;
    }

    @include media-breakpoint-up(md) {
      max-width: 18rem;
      margin-top: -8rem;
    }
  }
}

.home {
  .lottie-animation {
    margin-top: -10rem;
    margin-bottom: -8rem;

    @include media-breakpoint-up(sm) {
      margin-top: -13rem;
      margin-bottom: -13rem;
    }
  }
}
