.my-urls {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .empty-animation {
    margin-top: -5rem;
    margin-bottom: -3rem;
  }

  .its-empty-here {
    font-size: 1.5rem;
  }

  .add-new-icon {
    font-size: 1.5rem;
  }

  .favicon-placeholder {
    margin-bottom: 0.39rem;
  }
}