.my-urls {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .empty-animation {
    margin-top: -5rem;
    margin-bottom: -3rem;
  }

  .its-empty-here {
    font-size: 1.5rem;
  }

  .add-new-animation {
    svg {
      max-height: 2.5rem;
      max-width: 2.5rem;
    }
  }

  .add-new-animation-attribution {
    font-size: 0.5rem;
    margin-top: -0.4rem;
    margin-bottom: 0.4rem;
  }

  .favicon-placeholder {
    margin-bottom: 0.39rem;
  }
}